<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414392779891-rpripu3h0jsrisudlbq1cpn5quivskhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414392779891-rpripu3h0jsrisudlbq1cpn5quivskhn</string>
	<key>API_KEY</key>
	<string>AIzaSyBElHNNrb3EBJKddpVbhWRXqxuaChrHIOE</string>
	<key>GCM_SENDER_ID</key>
	<string>414392779891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.funfirebase</string>
	<key>PROJECT_ID</key>
	<string>funfirebase-d23ea</string>
	<key>STORAGE_BUCKET</key>
	<string>funfirebase-d23ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414392779891:ios:a7e4b146648151b032d606</string>
</dict>
</plist>